.signUp {
  margin-top: 60px;
}

.signUp input {
  border: 1px solid #737373;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  max-width: 650px;
}

.signUp input[type=submit] {
  margin: 10px auto;
}

.signUp label {
  display: block;
}