.signUp {
  margin-top: 50px;
}

.signUp h2 {
  margin: 0;
  padding: 10px;
  background-color: #FFE6B6;
  color: #253048;
  font-family: 'Libre Baskerville', serif;
}

.signUpForm {
  margin-top: 10px;
}

.signUp input {
  border: 1px solid #737373;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  max-width: 650px;
}

.signUpForm button {
  margin: 10px auto;
  background-color: #94B3C9;
  border-radius: 5px;
}

.signUp label {
  display: block;
}