.demoUserCredentials {
  font-size: 0.8em;
  margin: 3px 5px;
}

.signInForm {
  margin-top: 10px;
}

.signIn {
  margin-top: 60px;
}

.signIn input {
  border: 1px solid #737373;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  max-width: 650px;
}

.signIn button[type=submit] {
  margin: 10px auto;
}

.signIn label {
  display: block;
}

