.demoUserCredentials {
  font-size: 0.8em;
  margin: 3px 5px;
}

.signInForm {
  margin-top: 10px;
}

.signIn h2 {
  margin: 0;
  padding: 10px;
  background-color: #FFE6B6;
  color: #253048;
  font-family: 'Libre Baskerville', serif;
}

.signIn input {
  border: 1px solid #737373;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  max-width: 650px;
}

.signInForm button {
  margin: 10px auto;
  background-color: #94B3C9;
  border-radius: 5px;
}

.signInForm button:disabled {
  background-color: #737373;
}

.signIn label {
  display: block;
}

.formValidationMsg {
  color: red;
  font-size: 0.8em;
  margin: 5px 0;
}