.createRecipe {
  margin-top: 60px;
}

.createRecipeForm {
  margin-bottom: 20px;
}

.flexContainer {
  display: flex;
  flex-direction: column;
}

.createRecipeForm button,
.createRecipeForm input[type=submit] {
  max-width: 200px;
  margin: 10px auto;
}

.createRecipeForm input,
.createRecipeForm textarea {
  border: 1px solid #737373;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  width: 60%;
  max-width: 650px;
}

.createRecipeForm label {
  display: block;
}

@media only screen and (min-width: 768px){
  .flexContainer {
    flex-direction: row;
    justify-content: center;
  }
  .leftColumn,
  .rightColum {
    width: 40%;
  }
  .createRecipeForm input,
  .createRecipeForm textarea {
    width: 90%;
  }
}