.hero {
  padding-top: 15vh;
  padding-bottom: 10vh;
  background-color: #FFE6B6;
  color: #253048;
  font-family: 'Libre Baskerville', serif;
}

.hero h1 {
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
}

.findYourDish, .createRecipes {
  background-color: #443118;
}

.findYourDish, .createRecipes {
  padding: 10px;
  margin: 5px;
  transition-duration: 200ms;
}

.findYourDish h3, .createRecipes h3, .findYourDish p, .createRecipes p {
  margin: 0;
  padding: 5px;
}

.findYourDish a, .createRecipes a {
  text-decoration: none;
  cursor: pointer;
}

.findYourDish a, .createRecipes a {
  color: #FFDFB6;
}

.findYourDish:hover, .createRecipes:hover {
  transition-duration: 200ms;
  background-color: #FFE6B6;
  box-shadow: 1px 1px 4px grey;
}

.findYourDish a:hover, .createRecipes a:hover {
  color: #443118;
}

.findRecipesFlex, .createRecipesFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.right {
  order: 2;
}

.left {
  order: 1;
}

.foodImg, .createImg {
  max-width: 200px;
}


@media only screen and (min-width: 768px) {
  .findRecipesFlex, .createRecipesFlex {
    flex-direction: row;
    align-items: center;
  }
  .foodImg, .createImg {
    min-width: 200px;
  }
}