.hero {
  margin-top: 25vh;
}

.findYourDish {
  background-color: #aaa;
}

.createRecipes {
  background-color: #888;
}

.findYourDish,
.createRecipes {
  padding: 10px;
}

.findYourDish h3,
.createRecipes h3,
.findYourDish p,
.createRecipes p {
  margin: 0;
  padding: 5px;
}