@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Dancing+Script:wght@700&family=Montserrat:wght@400;700&display=swap');
body {
  text-align: center;
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, sans-serif;
}