.navBar {
  background-color: #443118;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
  text-align: right;
}

.logo {
  height: 40px;
  width: 40px;
}

.appName {
  display: flex;
  justify-content: flex-end;
  color: #FFDFB6;
  text-decoration: none;
  transition-duration: 100ms;
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
  padding-top: 10px;
  padding-left: 3px;
  padding-right: 6px;
  border-radius: 2px;
}

.appName:hover {
  color: #6B5332;
  background-color: #FFDFB6;
  transition-duration: 100ms;
}

.appNameText {
  margin: 0;
  align-self: center;
  display: inline;
}

.navItem {
  display: inline-block;
  color: #FFE6B6;
  text-decoration: none;
  transition-duration: 100ms;
  border-radius: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 3px auto;
}

.navItem:hover {
  color: #11212C;
  background-color: #94B3C9;
  transition-duration: 100ms;
}

.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  left: 82%;
  top: 10px;
}

/* Taken from react-burger-menu docs */
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #99AACD;
}
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}
/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}
/* General sidebar styles */
.bm-menu {
  background: rgba(153, 170, 205, 0.85);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(153, 170, 205, 0.65);
}

@media only screen and (min-width: 768px) {
  .largeScreenNav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    justify-content: space-evenly;
    background-color: #443118;
  }
  nav ul {
    text-align: center;
    align-items: center;
  }
  .appName {
    display: flex;

  }
  .navItem {
    padding: 3px;
  }
}